    <link rel="stylesheet" href="/css/Login.css">
    <title>Login</title>
</head>
<body>
<form action="/Principal" method="post">
    <div class="contenedorLog col-md-5 col-lg-5 col-sm-5 col-xl-5">
        <img class="imglogov" src="https://vianco.uaemex.mx/wp-content/uploads/2020/05/Vianco-logo-768x273.png" alt="">
        <br>
        <!-- <img class="imglogo" src="https://th.bing.com/th/id/R.8e2c571ff125b3531705198a15d3103c?rik=gzhbzBpXBa%2bxMA&riu=http%3a%2f%2fpluspng.com%2fimg-png%2fuser-png-icon-big-image-png-2240.png&ehk=VeWsrun%2fvDy5QDv2Z6Xm8XnIMXyeaz2fhR3AgxlvxAc%3d&risl=&pid=ImgRaw&r=0" alt=""> -->
        <h1 class="titlel" >Iniciar sesión</h1>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="Correo">
            <label for="floatingInput">Correo electronico</label>
          </div>
          <div class="form-floating">
            <input type="password" class="form-control" name="contraseña" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Contraseña</label>
          </div>
          <label for="">¿Eres un Alumno? <a href="/Principal">da click aqui</a></label>
          <br>
          <button type="submit" class="btn btn-outline-success">Iniciar sesión</button>
        </div>

    </form>